h2 {
    background: #7c72e7;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}

ul.b {
    list-style-type: square;
}

.sem1, .sem2, .sem3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    border: 1px solid transparent;
    transition: all 0.4s ease;
    padding: 10px;
    border-radius: 5px;
}

.course:hover {
    background: transparent;
    border-color: #938ece;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

li {
    line-height: 2;
}